<div class="container" ng-controller="CustomerListCtrl">

    <div class="row">
        <div class="col-md-3" style="margin-top: 30px">
            <button type="button" class="btn btn-default" ng-click="gotopage('customer')">
                <span class="glyphicon glyphicon-plus"></span> Add customer
            </button>
        </div>
        <div class="col-md-9" style="margin-top: 30px">
            <table class="table table-list-search">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>NIP</th>
                        <th>Regon</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in customers">
                        <td>{{x.name}}</td>
                        <td>{{x.symbol}}</td>
                        <td>{{x.nip}}</td>
                        <td>{{x.regon}}</td>
                        <td><a class="btn btn-default" href="#/customer/{{x.id}}"><i class="	glyphicon glyphicon-pencil"></i></a></td>

                        <!--ng-click="goto('customer/' + x.id)-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>